/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* --- end public domain code --- */
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background: #e1e1e1;
    font-family: "ff-meta-serif-web-pro";
    padding: 0 0px 60px;
    color: #242424;
    height: 100%;
}
a {
    color: black;
}
a.post {
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 85px;
    line-height: 85px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Arial";
    padding: 0px 30px 0px 90px;
    background: #ff4e52 url(../images/camera.png) 23px 23px no-repeat;
    color: white;
    z-index: 9001;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}
strong { font-weight: bold; }
section {
    padding: 35px 33px 0px 33px;
    text-align: center;
}
section h2 {
    font-family: "futura-pt";
    font-size: 60px;
    text-transform: uppercase;
    color: #444;
    letter-spacing: 4px;
    margin-bottom: 40px;
    word-wrap: break-word;
}

section h3 {
    font-family: "futura-pt";
    font-size: 30px;
    text-transform: uppercase;
    color: #444;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

@media screen and (max-width: 520px) {
    section h2 {
        font-size: 32px;
        line-height: 1.2;
    }
}

section#top {

}
section#top img {
    max-width: 100%;
}
section#top p {
    margin: 40px auto;
    font-size: 16px;
    line-height: 25px;
    max-width: 600px;
}
section#participate a.social_logo {
    opacity: .8;
}
section#participate a.social_logo:hover {
    opacity: 1;
}
section#participate a.social_logo img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}
section#participate p {
    margin: 20px auto;
    font-size: 16px;
    line-height: 25px;
    max-width: 600px;
}
section#participate blockquote {
    display: inline-block;
    padding: 20px;
    background: #ccc;
    font-family: 'Courier New';
    margin-bottom: 60px;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
}

footer {
    padding: 30px 33px;
    text-align: center;
}

footer img {
    max-width: 100%;
}


#photos {
    margin: 0px auto 25px auto;
    max-width: 800px;
}

.isotope:after {
    content: '';
    display: block;
    clear: both;
}
.isotope .element-item {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
    border-radius: 10px;
    cursor: pointer;
}
.isotope .element-item:hover {
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    -o-transform: scale(1.015);
    transform: scale(1.015);
    -ms-transform: scale(1.015);
}
.isotope .element-item > div {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 10px;
    background: #1c1c1c;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 2px 0px;
    width: 105px;
    letter-spacing: 1px;
    text-align: center;
    font-family: arial;

}

.isotope .element-item.big { width: 310px; height: 310px; }

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, .66);
    display: none;
    z-index: 9001;

    -webkit-transition: opacity 0.4s ease-out;
            transition: opacity 0.4s ease-out;
}
.overlay.invisible {
    pointer-events: none;
    opacity: 0;

    -webkit-transition: opacity 0.4s ease-out;
            transition: opacity 0.4s ease-out;
}
.overlay .gutter {
    height: 100%;
    text-align: center;
    vertical-align: middle;

    -webkit-transition: margin-top 0.4s ease-out;
            transition: margin-top 0.4s ease-out;
}
.overlay.invisible .gutter {
    margin-top: -100%;
}
.overlay .gutter .modal {
    display: inline-block;
    max-width: 100%;
    color: black;
    margin: 0px auto;
    position: relative;
    text-align: center;

    margin-top: 15px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .3);
}

.modal.photo div.photo {
    display: block;
    position: relative;
    width: 320px;
    height: 320px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
.modal.photo .tweet {
    background: white;
    position: relative;
    width: 320px;
    padding: 12px 15px 12px 80px;
    min-height: 75px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    line-height: 21px;
    text-align: left;
}
.modal.photo .tweet:after {
    content: '';
    display: block;
    clear: both;
}
.modal.photo .tweet a {
    font-weight: bold;
    color: #4993cc;
}
.modal.photo .tweet a.avatar {
    position: absolute;
    left: 15px;
    top: 15px;
}
.modal.photo .tweet a.avatar img {
    width: 48px;
    height: 48px;
}
.modal a.close {
    position: absolute;
    right: 7px;
    top: 6px;
    cursor:pointer;
    color: #fff;
    border-radius: 30px;
    background: black;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    width: 35px;
    height: 35px;
    text-decoration: none;
    opacity: .7;
    z-index: 9002; /* A LEVEL BEYOND over 9000 */
}
.modal a.close:hover {
    opacity: 1;
}
.modal a.close:before {
    line-height: 35px;
    content: "×";
}

@media screen and (min-height: 550px) {
    .overlay .gutter .modal {
        margin-top: 20px;
    }
    .modal.photo div.photo {
        width: 400px;
        height: 400px;
    }
    .modal.photo .tweet {
        width: 400px;
    }
}
@media screen and (min-height: 650px) {
    .overlay .gutter .modal {
        margin-top: 25px;
    }
    .modal.photo div.photo {
        width: 500px;
        height: 500px;
    }
    .modal.photo .tweet {
        width: 500px;
    }
}
@media screen and (min-height: 800px) {
    .overlay .gutter .modal {
        margin-top: 50px;
    }
    .modal.photo div.photo {
        width: 640px;
        height: 640px;
    }
    .modal.photo .tweet {
        width: 640px;
    }
}
@media screen and (max-width: 600px) {
    .overlay .gutter .modal {
        margin-top: 0px;
    }
    .modal.photo div.photo {
        border-radius: 0px;
    }
}

@media screen and (max-width: 480px) {
    #photos {
        max-width: 100%;
    }

    .isotope .element-item {
        background: #888;
        border-radius: 10px;
        color: #262524;
        float: left;
        height: 150px;
        margin: 5px;
        padding: 10px;
        position: relative;
        width: 150px;
    }

    .isotope .element-item.big {
        height: 150px;
        width: 150px;
    }
    a.post {
        height: 40px;
        line-height: 40px;
        width: 100%;
        padding: 0px;
        text-align: center;
        background-position: 10px 7px;
        background-size: auto 25px;
    }

}

div.social-buttons {
    height: 115px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: calc((100% - 115px) / 2);
    width: 110px;
}

@media screen and (max-width: 1280px) {
    div.social-buttons {
        width: 33px;
    }
}

div.social-buttons a {
    background-repeat: no-repeat;
    display: block;
    height: 33px;
    font-family: Arial, sans-serif;
    color: white;
    line-height: 33px;
    margin: 0 0 8px;
    padding: 0 0 0 42px;
    text-decoration: none;
    width: 100%;
}

div.social-buttons a.facebook {
    background-color: #39579a;
    background-image: url(../images/social/icon-fb.gif);
}

div.social-buttons a.twitter {
    background-color: #02aced;
    background-image: url(../images/social/icon-twitter.gif);
}

div.social-buttons a.email {
    background-color: #14ac2b;
    background-image: url(../images/social/icon-email.gif);
}
